source api_business
{
    type                = pgsql
    sql_host            = db.allsortz.com
    sql_user            = root
    sql_pass            = zoufzouf
    sql_db              = as_deploy
    sql_port            = 5432

    sql_query_pre       =
    sql_query_post      =
    sql_query           = \
        SELECT id, name, date, lat, lon, geom, address, city, url, state, phone, zipcode\
        FROM api_business
    sql_query_info      = SELECT * FROM `api_business` WHERE `id` = $id


    # DateField's and DateTimeField's
    sql_attr_timestamp   = date




}

index api_business
{
    source          = api_business
    path            = /var/data/api_business
    docinfo         = extern
    morphology      = none
    stopwords       =
    min_word_len    = 2
    charset_type    = utf-8
    min_prefix_len  = 0
    min_infix_len   = 0
}
source api_tag
{
    type                = pgsql
    sql_host            = db.allsortz.com
    sql_user            = root
    sql_pass            = zoufzouf
    sql_db              = as_deploy
    sql_port            = 5432

    sql_query_pre       =
    sql_query_post      =
    sql_query           = \
        SELECT id, creator_id, date, descr, icon\
        FROM api_tag
    sql_query_info      = SELECT * FROM `api_tag` WHERE `id` = $id

    # ForeignKey's
    sql_attr_uint       = creator_id


    # DateField's and DateTimeField's
    sql_attr_timestamp   = date




}

index api_tag
{
    source          = api_tag
    path            = /var/data/api_tag
    docinfo         = extern
    morphology      = none
    stopwords       =
    min_word_len    = 2
    charset_type    = utf-8
    min_prefix_len  = 0
    min_infix_len   = 0
}
source api_typeofbusiness
{
    type                = pgsql
    sql_host            = db.allsortz.com
    sql_user            = root
    sql_pass            = zoufzouf
    sql_db              = as_deploy
    sql_port            = 5432

    sql_query_pre       =
    sql_query_post      =
    sql_query           = \
        SELECT id, creator_id, date, descr, icon\
        FROM api_typeofbusiness
    sql_query_info      = SELECT * FROM `api_typeofbusiness` WHERE `id` = $id

    # ForeignKey's
    sql_attr_uint       = creator_id


    # DateField's and DateTimeField's
    sql_attr_timestamp   = date




}

index api_typeofbusiness
{
    source          = api_typeofbusiness
    path            = /var/data/api_typeofbusiness
    docinfo         = extern
    morphology      = none
    stopwords       =
    min_word_len    = 2
    charset_type    = utf-8
    min_prefix_len  = 0
    min_infix_len   = 0
}
