{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

  {% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}

  <h1>Create an account</h1>
  
  <form method="post" action="" class="wide">
	{% csrf_token %}
    <p>
      {% if form.username.errors %}
        <p class="errors">{{ form.username.errors.as_text }}</p>
      {% endif %}
      <input type="text" id="id_username" placeholder="Username" name="username"> 
    </p>
    <p>
      {% if form.email.errors %}
        <p class="errors">{{ form.email.errors.as_text }}</p>
      {% endif %}
      <input type="text" id="id_email" placeholder="Email" name="email"> 
    </p>
    <p>
      {% if form.password1.errors %}
        <p class="errors">{{ form.password1.errors.as_text }}</p>
      {% endif %}
      <input type="password" id="id_password1" placeholder="Password" name="password1"> 
    </p>
    <p>
      {% if form.password2.errors %}
        <p class="errors">{{ form.password2.errors.as_text }}</p>
      {% endif %}
      <input type="password" id="id_password2" placeholder="Password (again)" name="password2"> 
    </p>
    <p class="submit"><input class="btn btn-large btn-success"  type="submit" value="Register &rarr;"></p>
  </form>
  
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
