{% extends "base.html" %}
{% block body %}
    <p class="lead">
    Details for {{m.name}} at <a href="/menu/{{business.id}}">{{business.name}}</a> 
    </p>
{% block content %}


<div class="container">
  {%if editing%}
    {% load i18n %}
    {%include "menu/menuelements/editmenuitem.html"%}
  <input type="submit" value="{% trans 'Submit' %}" class="btn btn-large btn-success" name="__vote" />
<input type="hidden" value="{{business.id}}" class="btn btn-large btn-success" name="business" id="id_business" />

{%else %}

  <div class="span8">
    <ul class="nav nav-tabs">
       <li class="active"><a  href="#nutrition" data-toggle="tab">Nutrition Info</a></li>
       <li><a href="#allergy" data-toggle="tab">Allergen Info</a></li>
        <li><a href="#otherinfo" data-toggle="tab">Other Info</a></li>
      </ul>
    <div class="tab-content">
       <div class="tab-pane active" id="nutrition">
         {% with nutrition=m.nutrition%}
         {%include "menu/dish/nutrition.html"%}
         {%endwith%}
       </div>
       <div class="tab-pane" id="allergy">
          {% with allergy=m.allergy %}
          {%include "menu/dish/allergy.html"%}
          {%endwith%}
        </div>
        <div class="tab-pane" id="otherinfo">
          {% with otherinfo=m.otherinfo %}
          {%include "menu/dish/otherinfo.html"%}
          {%endwith%}
        </div>
    </div>
  </div>
    {% if request.user == business.owner %}
  <div class="span2">
    <a href="/menu/{{business.id}}/details/{{m.id}}/?editing=1">edit</a>
    <a href="/menu/{{business.id}}/remove/{{m.id}}">delete</a>
  </div>
  {% endif %}
  {%endif%}
</div>
{% endblock %}



{% endblock %}
