{% extends "base.html" %}

{% block body %}

     <div class="hero-unit">
              <h1>Eat Healthy</h1>

              <p class="lead">
      AllSortz is an exciting new startup based in Princeton, NJ. Our goal is to get people to go out and enjoy the food that is offered in your community. Whether you're new to town and want to know the best 
place for lunch, or you're a veteran of Main St. who's interested in new dishes at your favorite restaurant, AllSortz is here to serve you.</p>
<a class="btn btn-primary btn-large" href="/learn/">Learn more &raquo;</a>


</div>

<div class="row">
<div class="span4">
<h2>Merchants</h2>
<p>Do you own a restaurant? We want our customers to find food they love at your place!
If you are a merchant and you want to be part of the AllSortz community, give us your information and we'll be in touch.</p>
<p><a class="btn" href="/merchants/">Join &raquo;</a></p>
</div>



<div class="span4">
<h2>Sign Up</h2>
<p>Do you want to find places to eat that match your style? Please provide us with your e-mail so we can send you updates on our progress</p>
<!-- Button to trigger modal -->
<a href="/accounts/register/" role="button" class="btn" data-toggle="modal">Sign up &raquo;</a>



</div>

<div class="span4">
<h2>Help Us</h2>
<p>Ultimately, we're here to serve you. Help us to help you by taking our anonymous survey.
</p>
<p><a class="btn" href="/health/">Take our survey &raquo;</a></p>
</div>
</div>

          <hr>
  {% include "marketing_bottom.html" %}

{%endblock%}
