
{% extends "base.html" %}
{%block header%}
  <ul class="nav">
  <li ><a href="/">Home</a></li>
  <li ><a href="/about">About</a></li>
  <li class="active"><a href="#">Contact</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
  <ul class="dropdown-menu">
  <li><a href="/health">Survey</a></li>
  <li class="divider"></li>
  <li class="nav-header">Merchants</li>
  <li><a href="/merchants">Join</a></li>
  </ul>
  </li>
  </ul>


{%endblock%}

{% block body %}

<p class="lead">
Want to ask us something? Want to get in touch? Shoot us an e-mail at matt@allsortz.com and we'll get back to you ASAP</p>

<script type="text/javascript">
  ("#contactTab").addClass('active');

</script>
{% endblock %}
