{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
var initialLocation;
var siberia = new google.maps.LatLng(60, 105);
var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
var browserSupportFlag =  new Boolean();

function initialize() {
  var myOptions = {
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  // Try W3C Geolocation (Preferred)
  if(navigator.geolocation) {
      browserSupportFlag = true;
      navigator.geolocation.getCurrentPosition(function(position) {
              initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
              map.setCenter(initialLocation);
              var dat = {uname : 'none', password: 'generated_password', deviceID: '_webbrowser', lat:position.coords.latitude, lon:position.coords.longitude, min_x:'40.342117',min_y:'-74.668182',max_x:'40.368999', max_y: '-74.640717'};
              $.ajax({
                type: 'GET',
                url: 'api/businesses/map/',
                data: dat,
                success: function(data){
                },
                error: function(xhr, type){
                    alert('Ajax error!')
                }
            });    


              }, function() {
              handleNoGeolocation(browserSupportFlag);
              });
}
  // Browser doesn't support Geolocation
  else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }
  
  function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
      alert("Geolocation service failed.");
      initialLocation = newyork;
    } else {
      alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
      initialLocation = siberia;
    }
    map.setCenter(initialLocation);
  }
}
</script>

<div id="map_canvas" style="width: 500px; height:500px;">
</div>

{%endblock%}
