
<div class="container"/>
 <hr>
 <div class="row-fluid marketing">
        <div class="span6">
          <h4>Allergies</h4>
          <p>We'll give you dishes that you and your family can safely consume without worrying about whether you're going to have an adverse reaction to the food. </p>
          <h4>Diet</h4>
          <p>Have a specific diet in mind? Do you have food restrictions due to religion or personal belief? We'll find you food that matches your preferences exactly.<p>
          <h4>Health</h4>
          <p>Eat food that matches your health profile. Do you want to reduce your sodium? Tell us and we'll find you dishes with lower sodium.</p>

        </div>

        <div class="span6">
          <h4>Taste</h4>
          <p>Tailor your preferences to find food that you actually like eating, whether you have a sweet tooth or a hankering for spice. <p>
          <h4>Analytics</h4>
          <p>Understand your eating habits. See what you eat, how much you spend on eating, and even compare yourself to peers.</p>
          <h4>Responsibility</h4>
          <p>Know what's in your food so you can eat food that has been produced and traded responsibly.</p>
        </div>
      </div>

          <hr>

      <div class="footer">
        <p>&copy; AllSortz Inc. 2012</p>
      </div>

</div>
