
{% extends "base.html" %}
{%block header%}
  <ul class="nav">
  <li ><a href="/">Home</a></li>
  <li ><a href="/about">About</a></li>
  <li ><a href="#">Contact</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
  <ul class="dropdown-menu">
  <li><a href="/health">Survey</a></li>
  <li class="divider"></li>
  <li class="nav-header">Merchants</li>
  <li class="active"><a href="/merchants">Join</a></li>
  </ul>
  </li>
  </ul>


{%endblock%}

{% block body %}

<p class="lead">
Please fill out info below
</p>

{% load i18n %}
{% block content %}
<hr>

  <form class="" method="post" action="/merc_signup">

  <div class="control-group">
    <div class="controls">
      <input type="text" id="id_name" placeholder="Your Restaurant's Name" name="name">
    </div>

    <div class="controls">
      <input type="text" id="id_url" placeholder="Website" name="url">
    </div>
    <div class="controls">
      <input type="text" id="id_phone" placeholder="Phone Number" name="phone">
    </div>
    <div class="controls">
      <input type="text" id="id_address" placeholder="Street Address" name="address">
    </div>
    <div class="controls">
      <input type="text" id="id_city" placeholder="City" name="city">
    </div>
 
    <div class="controls">
      <input type="text" id="id_state" placeholder="State" name="state">
    </div>
    <div class="controls">
      <input type="text" id="id_zipcode" placeholder="Zipcode" name="zipcode">
    </div>
    <div class="controls">
      <input type="text" id="id_email" placeholder="Email" name="email">
    </div>
    <div class="controls">
      <input type="password" id="id_password" placeholder="Password to login with" name="password">
    </div>
    <div class="controls">
 
      <input type="submit" value="Submit" class="btn btn-large btn-success" />
    </div>
  </div>
</form>


{% endblock %}
{% endblock %}

