{% extends "base.html" %}
{%block header%}
  <ul class="nav">
  <li ><a href="/">Home</a></li>
  <li ><a href="/about">About</a></li>
  <li ><a href="/contact">Contact</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
  <ul class="dropdown-menu">
  <li class="active"><a href="/health">Survey</a></li>
  <li class="divider"></li>
  <li class="nav-header">Merchants</li>
  <li><a href="/merchants">Join</a></li>
  </ul>
  </li>
  </ul>


{%endblock%}

{% block body%}
  <div class="container">

<h2>Thank You!</h2>
<p class="lead">Thanks for taking the time to take our survey. We will stay in touch as merchants join our cause and commit to being transparent with what goes into the food your eat.</p>

<a class="btn btn-primary btn-large" href="/">Home &raquo;</a>

</div>
{% endblock %}
