
{% extends "base.html" %}
{%block header%}
  <ul class="nav">
  <li ><a href="/">Home</a></li>
  <li ><a href="/about">About</a></li>
  <li ><a href="#">Contact</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
  <ul class="dropdown-menu">
  <li><a href="/health">Survey</a></li>
  <li class="divider"></li>
  <li class="nav-header">Merchants</li>
  <li class="active"><a href="/merchants">Join</a></li>
  </ul>
  </li>
  </ul>


{%endblock%}

{% block body %}

<p class="lead">
Please fill out info below
</p>

{% load i18n %}
{% block content %}
<hr>

  <form class="form-horizontal" method="post" action="/merc_signup">
        {% for elem in form %}
      <div class="control-group">
      <div class="controls">

        {% if elem.field.choices %}
             <select name="{{elem.name}}" id="id_{{elem.name}}">
      {% for value, text in elem.field.choices %}
      {% if value == elem.value %}
        <option selected value={{value}}>{{text}}</option>
      {%else%}
        <option value={{value}}>{{text}}</option>
      {%endif%}
        {% endfor %}
      </select>

      {%else%}
        <input type="text" name="{{elem.name}}" id="id_{{elem.name}}" Placeholder="{{elem.label}}"/>
      {%endif%}
      </div>
    </div>
 
      {%endfor%}
  <div class="control-group">  
    <div class="controls">
      <input type="submit" value="Submit" class="btn btn-large btn-success" />
    </div>
  </div>
</form>


{% endblock %}
{% endblock %}

